.login-page-container {
  /* height: 100vh;
  width: 100vw; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f4f4f4; */
}

.login-form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.login-form-container h1 {
  font-weight: bold;
}
